body{
    margin: 0;
    font-family: "Lato", sans-serif;
}
.lato-thin {
  font-weight: 100;
}
.lato-light {
  font-weight: 300;
}
.lato-regular {
  font-weight: 400;
}
.lato-bold {
  font-weight: 700;
}
.lato-black {
  font-weight: 900;
}

header{
    width:100%;
    height: 950px ;
    display: flex;
    padding: 0px 0px 0px 0px;
    background-color: rgba(229, 84, 115, 10%) ;
}
.header_items{
    margin: 100px 10px 0px 100px;
    position: relative;
}
.header_text_part{
  width: 40%;
}

.header_img_part{
  margin-left: 150px;
  width: 20%;
  margin-right: 0px;
}
.primary_button{
    background-color:#E55473 ;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    border-style: none;
}
.header_items>img{
  position: absolute;
  bottom: 0px;
}

.header_text{
    font-size: 18px;
}
.header_title{
  font-size: 40px;
}

.featured_flower{
  text-align: center;
}
.rectengular_box{
  height: 438px;
  width: 364px;
  border-radius: 300px 300px 0px 0px;
  position: relative;
  margin: 20px;
}
.caption{
  text-align: center;
  text-decoration: underline 1px;
  text-underline-offset: 5px;
  font-weight: 700;
}
.rectengular_box>img{
  position: absolute;
  bottom: 0px;
  width: 80%;
  height: 80%;
  margin: auto;
  right: 0px;
  left: 0px;
}
.flower_boxes{
  display: flex;
  justify-content: center;
}
.pink_flower{
  background-color: rgba(167, 33, 98, 15%);
}
.blue_flower{
  background-color: rgba(5, 151, 160, 15%);
}
.green_flower{
 background-color:rgb(71, 125, 17, 15%); 
}
.main_section{
  margin: 100px 150px ;

}
.get_latest_deals{
  background-image: url(media/Rectangle\ 9.png);
}

.highlighted_area{
  display: flex;
  background-color:#ECECEC ;
  justify-content: center;
}
.highlighted_feature{
  text-align: center;
  margin: 50px;
}





footer{
  text-align: center;
}